* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #fff;
}

/* Lado esquerdo */
.left {
  width: 80%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
}

/* Caixinha Bem-Vindo */
.left h2 {
  background: #62c1b9;
  color: #fff;
  padding: 10px 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 90px;
  align-self: flex-start;
  font-size: 30px;
  font-weight: bold;
}

/* Container logo + texto */
.brand {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: -90px;
}

.logo {
  width: 200px;  
  height: auto;
}

.brand h1 {
  font-family:" Kaushan Script";
  font-size: 80px;  
  font-weight: bold;
  color: #2a948c;
  margin: 0;
}


.right {
  width: 60%;
  background: #a0d5d1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding-top: 150px;
  position: relative;
}

/* Cachorrinho */
.pets {
  position: absolute;
  top:-40px; 
  display: flex;
  justify-content: center;
}

.pets img {
  height: 200px;
}

.right h3 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.form a {
  font-size: 12px;
  margin-bottom: 15px;
  color: #333;
  text-decoration: none;
}

.btn {
  background: #2a948c;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn:hover {
  background: #24696d;
}

.register {
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
